button {
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 1rem;
    color:aliceblue;
    font-weight: bolder;
    display: block;
    margin-left: auto;
    cursor: pointer;
}