<h1>Crées Ton Profil</h1>
<form #f="ngForm" (ngSubmit)="createProfil()">
  <div class="form">
    <div>
      <input
        [(ngModel)]="profil.email"
        required
        type="text"
        placeholder="adresse mail"
        name="email"
        #revNet="ngModel"
      />
    </div>
    <div>
      <input
        [(ngModel)]="profil.password"
        required
        type="password"
        placeholder="Mot De Passe"
        name="password"
        #revNet="ngModel"
      />
    </div>
    <div>
      <input
        [(ngModel)]="profil.name"
        required
        type="text"
        placeholder="nom"
        name="name"
        #revNet="ngModel"
      />
    </div>
    <label for="role">choisis ton rôle</label>
    <select [(ngModel)]="profil.role" name="role" id="role" #revNet="ngModel">
      <option value="Guerrier">Guerrier</option>
      <option value="Alchimiste">Alchimiste</option>
      <option value="Sorcier">Sorcier</option>
      <option value="Espions">Espions</option>
      <option value="Enchanteur" selected>Enchanteur</option>
    </select>
    <input type="submit" value="s'inscrire" />
    <a [routerLink]="['login']">déjà inscrit</a>
  </div>
</form>
