<form #f="ngForm" (ngSubmit)="verifyProfil()">
  <div class="form">
    <div>
      <input
        [(ngModel)]="email"
        required
        type="text"
        placeholder="adresse mail"
        name="email"
        #revNet="ngModel"
      />
    </div>
    <div>
      <input
        [(ngModel)]="password"
        required
        type="password"
        placeholder="Mot De Passe"
        name="password"
        #revNet="ngModel"
      />
    </div>
    <input type="submit" value="se connecter" />
    <a [routerLink]="['/logup']">pas encore inscrit</a>
  </div>
</form>
