button {
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color:aliceblue;
    font-weight: bolder;
    display: block;
    margin-left: auto;
    background-color: red;
    cursor: pointer;
}