h1, h2{
    padding: 3rem;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    background-color: darksalmon;
    padding:3rem;
    margin:2rem;
    max-width: 60vw;
    border-radius: 8px;
}

.ajouter {
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 1rem;
    color:aliceblue;
    font-weight: bolder;
    display: block;
    margin-left: auto;
}

