<h1>La Liste De Tout Les Pangolins</h1>
<ul>
  <li *ngFor="let item of profils">
    <div #name>{{ item.name }}</div>
    <div>rôle:{{ item.role }}</div>
    <button
      class="ajouter"
      *ngIf="!item.isFriends && user !== name.innerHTML"
      (click)="friendToAddOrDel = name.innerHTML; addFriend()"
    >
      ajouter
    </button>
    <!-- <button
      class="retirer"
      (click)="friendToAddOrDel = name.innerHTML; removeFriend()"
      *ngIf="item.isFriends && user !== name.innerHTML"
    >
      retirer
    </button> -->
    <app-remove-friend-btn></app-remove-friend-btn>
  </li>
</ul>
<app-log-out></app-log-out>
